.header {
    background-color: rgba(13, 48, 72, .9);
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
}

.header-logo {
    margin-right: 20px;
}

.header-logo img {
    height: 40px; /* Ajusta la altura del logo según sea necesario */
}

.header h1 {
    margin: 0;
    font-size: 24px;
}
