.App {
  display: flex;
}

.sidebar {
  position: fixed;
  top: 60px; /* Debajo del header */
  left: 0;
  height: calc(100vh - 80px); /* Altura del viewport menos la altura del header */
  width: 200px; /* Asegura que Sidebar tenga un ancho fijo */
}

.main-content {
  width: calc(100% - 250px); /* Resta el ancho de la sidebar */
}
